
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .error {
    color: #FF4500;
    font-weight: bold;
    
  }

  .success {
    color: #32CD32;
    font-weight: bold;
 
  }
  .card{
    max-width: 500px;
    justify-content: center;
    margin: auto;
    
  }
.btn__disable{
    cursor: not-allowed;
}
.button_container{
  float: right;
justify-content: right;
}

.spin {
  position: fixed;
  z-index: 3000;
  top: 30%;
  left: 50%;
 
}
.spinner_overlay {

  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.9); /* Black background with opacity */
  opacity: 0.2;
  z-index: 2000;
}
.btn__signup{
  background-color: #007bff;
  display: block;
  width: 150px;
  margin: 20px auto;
  color:whitesmoke;
  padding: 15px;
  border: 0;
  border-radius: 3px;
}
 /* info button styling */
 * {
  transition: all .2s ease;
}
 .extra-info {
  display: none;
  line-height: 20px;
  font-size: 12px;
	position: absolute;

}

.info:hover .extra-info {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.02);
  padding: 0 0 0 5px;
  width: 260px;
  border: 1px solid black;
}

.info {
  font-size: 20px;
  padding-left: 5px;
  width: 20px;
  border-radius: 15px;
}
.extra-info ul
{
padding: 10px;
margin: 0px;
}
.extra-info ul li{
  margin-top:0px; 
  margin-left:10px;
}