<section id="sign-up-form">
    <div class="container-fluid">
      <div class="row mt-3">
        <div class="col-md-12">
         
          <div class="d-flex justify-content-start  h-100">
          
            <div class="card mt-5" >
              <div class="card-header">
                <h3 class="text-center">Sign Up Form</h3>
              </div>
              <div class="card-body">
                <div class="text-center">
                  <p [ngClass]="{'error': errorMessage}">{{updateMessage}}</p>
                </div>
                <div >
                  <form [formGroup]="form" (ngSubmit)="postUser(user)">
  
                    <div class="row justify-content-between">
                      <label for="firstName" class="control-label required">First Name</label>
                      <div class="input-group form-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fa fa-user"></i></span>
                        </div>
                        <input type="text" 	[(ngModel)]="user.firstName" formControlName="firstName" class="form-control "
                          id="firstName" placeholder="Enter First Name"
                          [ngClass]="{ 'is-invalid': (submitted || findError.firstName.touched) && findError.firstName.errors }">
                        <div *ngIf="submitted || findError.firstName.touched && findError.firstName.errors" class="invalid-feedback">
                          <div *ngIf=" findError.firstName.errors?.required" class="text-danger"> Please enter your First Name.</div>
                        </div>
  
                      </div>
                      <label for="lastName" class="control-label required">Last Name</label>
                      <div class="input-group form-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fa fa-user"></i></span>
                        </div>
                        <input type="text" 	[(ngModel)]="user.lastName" formControlName="lastName" class="form-control "
                          id="lastName" placeholder="Enter Last Name"
                          [ngClass]="{ 'is-invalid':  (submitted || findError.lastName.touched) && findError.lastName.errors }">
                        <div *ngIf="submitted || findError.lastName.touched && findError.lastName.errors" class="invalid-feedback">
                          <div *ngIf="findError.lastName.errors?.required" class="text-danger">Please enter your Last Name.</div>
                        </div>
  
                      </div>
                      <label for="email" class="control-label required">Email Address</label>
                      <div class="input-group form-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                        </div>
                        <input type="email" [(ngModel)]="user.email"  formControlName="email" class="form-control "
                          id="email" placeholder="Enter Email Address"
                          [ngClass]="{ 'is-invalid': (submitted || findError.email.touched) && findError.email.errors }">
                        <div *ngIf="submitted || findError.email.touched && findError.email.errors" class="invalid-feedback">
                          <div *ngIf="findError.email.errors?.required" class="text-danger">Please enter your Email Address.</div>
                          <div *ngIf="findError.email.errors?.pattern">Please enter valid Email Address.</div>
                        </div>
  
                      </div>
                      <label for="password" class="control-label required">Password</label>
                      <div class="input-group form-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fa fa-key"></i></span>
                        </div>
                        <input type="password" 	[(ngModel)]="user.password"  formControlName="password" class="form-control "
                          id="password" placeholder="Enter Password"
                          [ngClass]="{ 'is-invalid': (submitted || findError.password.touched) && findError.password.errors }">
                          <div class="info">
                            <i class="fa fa-info-circle"></i>                    
                            <span class="extra-info">
                              <ul >
  
                              <li >Password must be at least 8 characters.</li>
                              <li >Password must be a contain uppercase and lowercase letter.</li>
                            <li >Password should not contain firstname or lastname.</li>
                            </ul>
                            </span>
                          </div>
                        <div *ngIf="submitted || findError.password.touched && findError.password.errors" class="invalid-feedback">
                          <div *ngIf="findError.password.errors?.required" class="text-danger"> Please enter your Password.</div>
                          <div *ngIf="findError.password.errors?.minlength" class="text-danger">Please enter password atleast 8 characters.</div>
                          <div *ngIf="findError.password.errors?.pattern" class="text-danger">Please enter password atleast lowercase and uppercase letters.
                          </div>
                          <div *ngIf="findError.password.errors?.passwordValidator" class="text-danger">Please enter password which should not contain firstname or lastname.</div>
                        </div>
                      </div>
                    </div>
                    <div class="button_container">
                      <button class="btn btn-primary m-2" 
                      type="submit">
                      Submit</button>
                    <button class="btn btn-primary m-2" (click)=" refreshPage()">Cancel</button>
                    </div>
                    
                    <div class="spinner_overlay" *ngIf="loading"></div>
                    <div class=" spin d-flex justify-content-center align-items-center">
                      <div class="spinner-border  text-primary" style="width: 5rem; height: 5rem;border-width: 8px;"
                        *ngIf="loading" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </section>